---
const navItems = [
  {
    title: "Home",
    href: "#top",
    label: "Home",
  },
  {
    title: "Background",
    href: "#background",
    label: "Background",
  },
  {
    title: "Projects",
    href: "#projects",
    label: "Projects",
  },
  {
    title: "Contact",
    href: "#top",
    label: "Contact",
  },
];
---

<nav-bar class="flex justify-between">
  <nav
    class="hidden md:fixed md:top-0 md:left-0 md:h-full md:text-white md:text-2xl md:w-32 md:p-4 md:flex md:flex-col md:items-center md:left-64"
  >
    <ul class="flex flex-col mt-auto mb-auto space-y-6 md:space-y-18">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class="text-2xl group relative w-max ml-2"
              aria-label={item.label}
            >
              <span>{item.title}</span>
              <span class="absolute -bottom-2 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full group-[.active]:w-full" />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</nav-bar>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach(({ isIntersecting, target }) => {
          const link = document.querySelector(`nav a[href="#${target.id}"]`);
          link?.classList.toggle("active", isIntersecting);
        });
      },
      { rootMargin: "-50% 0px -50% 0px" }
    );

    document
      .querySelectorAll("section[id]")
      .forEach((section) => observer.observe(section));
  });
</script>
