---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`mx-auto justify-center flex flex-col lg:w-4/5 xl:w-3/4 2xl:w-2/3 max-w-screen-xl px-4 ${className}`}
>
  <slot />
</section>
